* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: rgb(66, 66, 227);
}

.css_selector {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(99, 215, 99);
  border: 2px solid black;
}

img {
  display: block;
  margin: 0 auto;
  border: 10px groove orange;
  border-radius: 100%;
}

.header1 {
  margin: 10px 10px;
}

.header1 h2 {
  color: blue;
  font-size: x-large;
  font-weight:bolder;
}

.header2 {
  margin: 10px 10px;
}

.header2 h2 {
  color: hotpink;
  font-size: x-large;
  font-weight:bolder;
}


.header3 {
  margin: 10px 10px;
}

.header3 h2 {
  color: red;
  font-size: x-large;
  font-weight:bolder;
}



